PORT=4000
ALLOWED_ORIGINS=http://localhost:3000
LOGGER_BASE_URL=http://4.224.186.213/evaluation-service
LOGGER_EMAIL=
LOGGER_NAME=
LOGGER_ROLL_NO=
LOGGER_ACCESS_CODE=
LOGGER_CLIENT_ID=
LOGGER_CLIENT_SECRET=